.block_c{
	/*display: block;
 	background-color: red;
 	float: left;
 	padding: 5px;
 	margin-top: 14px;*/

}
.titleblock{
	/*background-color: #fff;
	padding: 10px;
	font-size: 20px;
	font-family: 'tahoma';
	border-bottom: 5px solid #2e72db;
	width: 100% !important;
	margin-bottom: 30px;
	*/
}